<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset=UTF-8>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <title>拓樸地圖生成器</title>
    </head>
    <body>
        <h1>拓樸地圖生成器</h1>
        <main>
            <!-- 資料輸入在這邊 -->
            <form method=POST enctype=multipart/form-data action="{{ url_for('uploads') }}">
            <!-- ... -->
                <input type=file name=json>
                <input type="submit" value="送出">
            <!-- ...-->
            </form>
            
        </main>
        <footer class="footer">
            <p>Copyright © 拓樸網站生成器製作小組 All right reserved.</p>
        </footer>
    </body>
</html>
